.box .sapMBtnInner {
background:transparent !important;
border:none;
outline: 0 !important;
outline-offset: 0 !important;
width:100px;
height: 100px;
}

.wrap {
   display:flex;
   height: 100vh; 
   justify-content:center;
   align-items:center;
   padding:0;
   background:linear-gradient(rgba(0,0,0,0.4), transparent 1px),
   linear-gradient(90deg, rgba(0,0,0,0.4), transparent 1px);
   background-size:30px 30px;
   margin:auto;

}
.box {
   border:2px solid black; 
   width:100px; 
   height:100px;
}
.box_one,
.box_two,
.box_three {
    border-top: none;
    border-bottom: none;
}
.box_one,
.box_four,
.box_seven {
    border-left: none;
    border-right:none;
}

.box_three,
.box_six,
.box_nine {
    border-right: none;
    border-left: none;
}

.box_seven,
.box_eight,
.box_nine {
    border-top: none;
    border-bottom: none;

}
.container {
    width:302px;
    height:302px;
    display:flex;
    flex-wrap:wrap;
    margin:0;
}
.cross {
    background-image: url('../assets/cross.png');
    background-size: cover;
}

.zero {
    background-image: url('../assets/zero.png');
    background-size: cover;
}

.homePage {
    display:flex;
    justify-content:center;
    align-items:center;
}
